.inputWithImg {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}

.inputWithImg img {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 16px;
}

.input {
  padding: 8px;
  width: 100%;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid gray;
  outline: none;
  transition: border 0.5s ease;
}

.input:focus {
  border: 1.5px solid rgb(18, 219, 206);
  background-color: black;
}
